* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Dongle-light";
    src: url("Dongle/Dongle-Light.ttf");
}
@font-face {
    font-family: "Dongle-regular";
    src: url("Dongle/Dongle-Regular.ttf");
}
@font-face {
    font-family: "Dongle-bold";
    src: url("Dongle/Dongle-Bold.ttf");
}

header{
    display: flex;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    align-items: center;
}

.logo img{
    max-width:15%;
}
.nav-menu ul{
 display: flex;
}
.nav-menu li{
    list-style: none;
    margin-right: 20px;
}
.nav-menu li:last-child{
    margin-right: 0;
}
.nav-menu a{
    text-decoration: none;
    font-family: "Dongle-bold";
    font-size: 1.6rem;
    color: #333;
    transition: all ease 0.3s;
}
.nav-menu a:hover{
    color: #ff7f50;
}
.background {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 100px;
    background-image: url("./images/images/grand-canyon-1235221_1280.jpg");
    background-size: cover;
    background-position: center;
}

.text {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left;
}


.text h3 {
    font-size: 57px;
    font-weight: bold;
}

.text p {
    font-size: 18px;
}

.text button a{
    text-decoration: none;
    color: white;
}
.customize-btn {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #ff7f50; /* Coral color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.customize-btn:hover {
    background-color: #ff4500; /* Darker orange on hover */
}


.box1 {
    width: 462px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    opacity: 0.7;
    border-radius: 5%;
    border: 2px solid white;
    padding: 20px;
}
.box1 input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid gray;
    border-radius: 5px;
}

/* .gender-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: black;
}

.gender-container input {
    margin-left: 5px;
} */

.box1 button {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.box1 button:hover {
    background-color: darkorange;
}


.box1 a{
    text-decoration: none;
    color: white;
}